---
- name: Ensure helper script directory exists
  become: true
  ansible.builtin.file:
    path: /usr/local/lib/kolla
    state: directory
    owner: root
    group: root
    mode: "0755"

- name: Install wait helper script
  become: true
  ansible.builtin.template:
    src: wait-unit-and-container-healthy.sh.j2
    dest: /usr/local/lib/kolla/wait-unit-and-container-healthy.sh
    owner: root
    group: root
    mode: "0755"
