---
- name: Get neutron uid
  become: true
  command: "{{ kolla_container_engine }} run --rm {{ neutron_openvswitch_agent_image_full }} id -u neutron"
  register: neutron_uid_result
  changed_when: false

- name: Get neutron gid
  become: true
  command: "{{ kolla_container_engine }} run --rm {{ neutron_openvswitch_agent_image_full }} id -g neutron"
  register: neutron_gid_result
  changed_when: false

- name: Set neutron uid and gid facts
  set_fact:
    neutron_uid: "{{ neutron_uid_result.stdout }}"
    neutron_gid: "{{ neutron_gid_result.stdout }}"

- name: Ensure neutron-ovs-cleanup marker directory exists
  become: true
  file:
    path: "{{ neutron_ovs_cleanup_marker_file | dirname }}"
    state: directory
    owner: "{{ neutron_uid }}"
    group: "{{ neutron_gid }}"
    mode: "0755"

- name: Check if neutron-ovs-cleanup has run
  become: true
  stat:
    path: "{{ neutron_ovs_cleanup_marker_file }}"
  register: ovs_cleanup_marker

- name: Check neutron-ovs-cleanup container configuration
  vars:
    service_name: "neutron-openvswitch-agent"
    service: "{{ neutron_services[service_name] }}"
  become: true
  kolla_container:
    action: "compare_container"
    common_options: "{{ docker_common_options }}"
    command: >-
      bash -c 'sudo -E kolla_set_configs && neutron-ovs-cleanup --config-file /etc/neutron/neutron.conf --config-file /etc/neutron/plugins/ml2/openvswitch_agent.ini && touch {{ neutron_ovs_cleanup_marker_file }}'
    image: "{{ neutron_openvswitch_agent_image_full }}"
    privileged: "{{ service.privileged | default(False) }}"
    labels:
      OVSCLEANUP: ""
    name: "neutron_ovs_cleanup"
    restart_policy: no
    state: exited
    remove_on_exit: false
    volumes: "{{ ([ node_config_directory ~ '/neutron-ovs-cleanup/:' ~ container_config_directory ~ '/:ro', neutron_ovs_cleanup_marker_file | dirname ~ ':' ~ neutron_ovs_cleanup_marker_file | dirname ] + (service.volumes[1:] | list)) | reject('equalto', '') | list }}"
  register: ovs_cleanup_compare
  when:
    - service | service_enabled_and_mapped_to_host

- name: Recreate neutron-ovs-cleanup container when configuration changes
  vars:
    service_name: "neutron-openvswitch-agent"
    service: "{{ neutron_services[service_name] }}"
  become: true
  kolla_container:
    action: "recreate_container"
    common_options: "{{ docker_common_options }}"
    command: >-
      bash -c 'sudo -E kolla_set_configs && neutron-ovs-cleanup --config-file /etc/neutron/neutron.conf --config-file /etc/neutron/plugins/ml2/openvswitch_agent.ini && touch {{ neutron_ovs_cleanup_marker_file }}'
    image: "{{ neutron_openvswitch_agent_image_full }}"
    privileged: "{{ service.privileged | default(False) }}"
    labels:
      OVSCLEANUP: ""
    name: "neutron_ovs_cleanup"
    restart_policy: no
    state: exited
    remove_on_exit: false
    volumes: "{{ ([ node_config_directory ~ '/neutron-ovs-cleanup/:' ~ container_config_directory ~ '/:ro', neutron_ovs_cleanup_marker_file | dirname ~ ':' ~ neutron_ovs_cleanup_marker_file | dirname ] + (service.volumes[1:] | list)) | reject('equalto', '') | list }}"
  when:
    - service | service_enabled_and_mapped_to_host
    - ovs_cleanup_marker.stat.exists
    - ovs_cleanup_compare.changed

- name: Running neutron-ovs-cleanup container
  vars:
    service_name: "neutron-openvswitch-agent"
    service: "{{ neutron_services[service_name] }}"
  become: true
  kolla_container:
    action: "start_container"
    common_options: "{{ docker_common_options }}"
    detach: False
    command: >-
      bash -c 'sudo -E kolla_set_configs && neutron-ovs-cleanup --config-file /etc/neutron/neutron.conf --config-file /etc/neutron/plugins/ml2/openvswitch_agent.ini && touch {{ neutron_ovs_cleanup_marker_file }}'
    image: "{{ neutron_openvswitch_agent_image_full }}"
    privileged: "{{ service.privileged | default(False) }}"
    labels:
      OVSCLEANUP: ""
    name: "neutron_ovs_cleanup"
    restart_policy: no
    remove_on_exit: false
    volumes: "{{ ([ node_config_directory ~ '/neutron-ovs-cleanup/:' ~ container_config_directory ~ '/:ro', neutron_ovs_cleanup_marker_file | dirname ~ ':' ~ neutron_ovs_cleanup_marker_file | dirname ] + (service.volumes[1:] | list)) | reject('equalto', '') | list }}"
  when:
    - service | service_enabled_and_mapped_to_host
    - not ovs_cleanup_marker.stat.exists

- name: Mark neutron-ovs-cleanup complete
  vars:
    service_name: "neutron-openvswitch-agent"
    service: "{{ neutron_services[service_name] }}"
  become: true
  file:
    path: "{{ neutron_ovs_cleanup_marker_file }}"
    state: touch
  when:
    - service | service_enabled_and_mapped_to_host
    - not ovs_cleanup_marker.stat.exists
