---
- name: Ensure {{ service_name }} container is configured
  become: true
  kolla_container:
    action: recreate_or_restart_container
    common_options: "{{ ensure_container_common_options | default(docker_common_options) }}"
    name: "{{ ensure_container_name | default(service.container_name) }}"
    image: "{{ ensure_container_image | default(service.image | default(omit)) }}"
    command: "{{ ensure_container_command | default(service.command | default(omit)) }}"
    cgroupns_mode: "{{ ensure_container_cgroupns_mode | default(service.cgroupns_mode | default(omit)) }}"
    dimensions: "{{ ensure_container_dimensions | default(service.dimensions | default(omit)) }}"
    environment: "{{ ensure_container_environment | default(service.environment | default(omit)) }}"
    environment_file: "{{ ensure_container_environment_file | default(service.environment_file | default(omit)) }}"
    healthcheck: "{{ ensure_container_healthcheck | default(service.healthcheck | default(omit)) }}"
    hostname: "{{ ensure_container_hostname | default(service.hostname | default(omit)) }}"
    ipc_mode: "{{ ensure_container_ipc_mode | default(service.ipc_mode | default(omit)) }}"
    labels: "{{ ensure_container_labels | default(service.labels | default(omit)) }}"
    network_mode: "{{ ensure_container_network_mode | default(service.network_mode | default(omit)) }}"
    pid_mode: "{{ ensure_container_pid_mode | default(service.pid_mode | default(omit)) }}"
    privileged: "{{ ensure_container_privileged | default(service.privileged | default(omit)) }}"
    restart_policy: "{{ ensure_container_restart_policy | default(service.restart_policy | default(omit)) }}"
    security_opt: "{{ ensure_container_security_opt | default(service.security_opt | default(omit)) }}"
    state: "{{ ensure_container_state | default(service.state | default(omit)) }}"
    tmpfs: "{{ ensure_container_tmpfs | default(service.tmpfs | default(omit)) }}"
    tty: "{{ ensure_container_tty | default(service.tty | default(omit)) }}"
    user: "{{ ensure_container_user | default(service.user | default(omit)) }}"
    volumes: "{{ ensure_container_volumes | default(service.volumes | default(omit)) }}"
    volumes_from: "{{ ensure_container_volumes_from | default(service.volumes_from | default(omit)) }}"
    cap_add: "{{ ensure_container_cap_add | default(service.cap_add | default(omit)) }}"
    remove_on_exit: "{{ ensure_container_remove_on_exit | default(service.remove_on_exit | default(omit)) }}"
    privileged_with_zfs: "{{ ensure_container_privileged_with_zfs | default(service.privileged_with_zfs | default(omit)) }}"
    device_requests: "{{ ensure_container_device_requests | default(service.device_requests | default(omit)) }}"
  register: _ctr
  vars:
    _ctr_noop: >-
      {{ (((_ctr | default({})).result is defined) and (not ((_ctr | default({})).result)))
         or (((_ctr | default({})).debug is defined) and ('no differences found' in (((_ctr | default({})).debug | string)))) }}
  changed_when: not _ctr_noop
