<secret ephemeral='no' private='no'>
  <uuid>{{ item.value.uuid }}</uuid>
  <description>Ceph Client Secret for backend {{ item.key }}</description>
  <usage type='ceph'>
    <name>ceph-{{ item.key }}</name>
  </usage>
</secret>
