---
- name: Restart fluentd container
  vars:
    service_name: "fluentd"
    service: "{{ common_services[service_name] }}"
    ensure_container_common_options: "{{ docker_common_options }}"
    ensure_container_volumes: "{{ service.volumes | select('truthy') | list }}"
    ensure_container_environment: "{{ service.environment | default({}) }}"
    ensure_container_dimensions: "{{ service.dimensions }}"
  become: true
  include_tasks: "{{ role_path }}/../common/tasks/_ensure_service_container.yml"

- name: Restart kolla-toolbox container
  vars:
    service_name: "kolla-toolbox"
    service: "{{ common_services[service_name] }}"
    ensure_container_common_options: "{{ docker_common_options }}"
    ensure_container_volumes: "{{ service.volumes | select('truthy') | list }}"
    ensure_container_environment: "{{ service.environment | default({}) }}"
    ensure_container_dimensions: "{{ service.dimensions }}"
    ensure_container_privileged: "{{ service.privileged | default(False) }}"
  become: true
  include_tasks: "{{ role_path }}/../common/tasks/_ensure_service_container.yml"
  notify:
    - Initializing toolbox container using normal user

- name: Initializing toolbox container using normal user
  become: true
  command: "{{ kolla_container_engine }} exec -t {{ common_services['kolla-toolbox']['container_name'] }} ansible --version"
  changed_when: false

- name: Restart cron container
  vars:
    service_name: "cron"
    service: "{{ common_services[service_name] }}"
    ensure_container_common_options: "{{ docker_common_options }}"
    ensure_container_volumes: "{{ service.volumes | select('truthy') | list }}"
    ensure_container_environment: "{{ service.environment | default({}) }}"
    ensure_container_dimensions: "{{ service.dimensions }}"
  become: true
  include_tasks: "{{ role_path }}/../common/tasks/_ensure_service_container.yml"
