---
- name: Ensure Open vSwitch containers exist before systemd and post-config
  include_tasks: roles/common/tasks/_ensure_service_container.yml
  vars:
    service_name: "{{ item.key }}"
    service: "{{ item.value }}"
    ensure_container_action: >-
      {{ 'recreate_container'
         if item.key == 'openvswitch-db-server' and openvswitch_force_create_db_container | bool
         else 'recreate_or_restart_container' }}
  loop: "{{ openvswitch_services | dict2items }}"
  loop_control:
    label: "{{ item.key }}"
  when:
    - item.value | service_enabled_and_mapped_to_host
