---
# NOTE(mnasiadka): external_ids:system-id uniquely identifies a physical system, used by OVN and other controllers
- name: Wait for openvswitch_db container
  become: true
  kolla_container_facts:
    action: get_containers
    container_engine: "{{ kolla_container_engine }}"
    name:
      - openvswitch_db
  register: ovsdb_container
  changed_when: false
  failed_when: false
  retries: 10
  delay: 3
  until: ovsdb_container.containers.openvswitch_db is defined
  when:
    - openvswitch_services['openvswitch-vswitchd'].host_in_groups | bool

- name: Wait for Open vSwitch database socket
  become: true
  command: "{{ kolla_container_engine }} exec openvswitch_db ovsdb-client list-dbs"
  register: ovsdb_wait
  retries: 10
  delay: 3
  changed_when: false
  until: ovsdb_wait.rc == 0
  when:
    - openvswitch_services['openvswitch-vswitchd'].host_in_groups | bool
    - ovsdb_container.containers.openvswitch_db is defined

- name: Set system-id, hostname and hw-offload
  become: true
  kolla_toolbox:
    container_engine: "{{ kolla_container_engine }}"
    user: root
    module_name: openvswitch_db
    module_args:
      table: Open_vSwitch
      record: .
      col: "{{ item.col }}"
      key: "{{ item.name }}"
      value: "{{ item.value }}"
      state: "{{ item.state | default('present') }}"
  loop:
    - { col: "external_ids", name: "system-id", value: "{{ openvswitch_system_id }}" }
    - { col: "external_ids", name: "hostname", value: "{{ openvswitch_hostname }}" }
    - { col: "other_config", name: "hw-offload", value: true, state: "{{ 'present' if openvswitch_hw_offload | bool else 'absent' }}" }
  when:
    - openvswitch_services['openvswitch-vswitchd'].host_in_groups | bool
  notify:
    - "Restart openvswitch-vswitchd container"

- name: Ensure provider bridge {{ item }} exists with desired fail_mode
  become: true
  kolla_toolbox:
    container_engine: "{{ kolla_container_engine }}"
    user: root
    module_name: openvswitch_bridge
    module_args:
      bridge: "{{ item }}"
      state: present
      fail_mode: "{{ ovs_provider_fail_mode }}"
      timeout: 5
  loop: "{{ neutron_bridge_name.split(',') }}"
  when:
    - inventory_hostname in groups["network"]
      or (inventory_hostname in groups["compute"] and computes_need_external_bridge | bool )

- name: Ensuring OVS ports are properly setup
  become: true
  kolla_toolbox:
    container_engine: "{{ kolla_container_engine }}"
    user: root
    module_name: openvswitch_port
    module_args:
      bridge: "{{ item.0 }}"
      port: "{{ item.1 }}"
  with_together:
    - "{{ neutron_bridge_name.split(',') }}"
    - "{{ neutron_external_interface.split(',') }}"
  when:
    - inventory_hostname in groups["network"]
      or (inventory_hostname in groups["compute"] and computes_need_external_bridge | bool )
