[Unit]
After={{ kolla_service_unit_prefix }}{{ item.0 }}{{ kolla_service_unit_suffix }}.service
Requires={{ kolla_service_unit_prefix }}{{ item.0 }}{{ kolla_service_unit_suffix }}.service

[Service]
ExecStartPre=/bin/bash -c '\
  start=$$(date +%%s); \
  while [ "$({{ kolla_container_engine }} inspect --format "{{ '{{.State.Health.Status}}' }}" {{ item.0 }})" != "healthy" ] && \
        [ $$(($(date +%%s)-$$start)) -lt {{ kolla_service_start_wait_seconds }} ]; do sleep 3; done'

