[Unit]
After={{ kolla_service_unit_prefix }}{{ item.0 }}{{ kolla_service_unit_suffix }}.service
Requires={{ kolla_service_unit_prefix }}{{ item.0 }}{{ kolla_service_unit_suffix }}.service

[Service]
TimeoutStartSec={{ kolla_service_start_timeout }}
ExecStartPre=/bin/sh -c '\
  until systemctl is-active --quiet {{ kolla_service_unit_prefix }}{{ item.0 }}{{ kolla_service_unit_suffix }}.service; do sleep 1; done; \
  if [ "{{ kolla_container_engine }}" = "podman" ]; then \
    {{ kolla_container_engine }} healthcheck run {{ item.0 }} >/dev/null 2>&1; \
    rc=$?; \
    if [ $rc -eq 125 ]; then \
      sleep {{ kolla_service_no_healthcheck_wait }}; \
    elif [ $rc -ne 0 ]; then \
      until {{ kolla_container_engine }} healthcheck run {{ item.0 }} >/dev/null 2>&1; do sleep 1; done; \
    fi; \
  elif [ "{{ kolla_container_engine }}" = "docker" ]; then \
    has_hc=$({{ kolla_container_engine }} inspect --format={{"{{"}}json .Config.Healthcheck{{"}}"}} {{ item.0 }}); \
    if [ "$has_hc" = "null" ] || [ -z "$has_hc" ]; then \
      sleep {{ kolla_service_no_healthcheck_wait }}; \
    else \
      until [ "$({{ kolla_container_engine }} inspect --format={{"{{"}}.State.Health.Status{{"}}"}} {{ item.0 }})" = "healthy" ]; do sleep 1; done; \
    fi; \
  else \
    sleep {{ kolla_service_no_healthcheck_wait }}; \
  fi; \
  delay=${KOLLA_POST_HEALTHY_DELAY:-{{ kolla_post_healthy_delay }}}; \
  if [ ! -f {{ kolla_post_healthy_delay_marker_file }} ] && [ "$delay" -gt 0 ]; then \
    sleep $delay; \
  fi; \
  exit 0'
