---
- name: Prepare restart context for openvswitch-db-server
  vars:
    service_name: "openvswitch-db-server"
    service_def: "{{ openvswitch_services[service_name] }}"
    _unit_name: >-
      {{ 'container-' if kolla_container_engine == 'podman' else 'kolla-' }}{{ service_def.container_name }}{{ '' if kolla_container_engine == 'podman' else '-container' }}.service
  set_fact:
    container_name: "{{ service_def.container_name }}"
    unit_name: "{{ _unit_name }}"
    service: "{{ service_def | combine({'unit_file_exists': True}, recursive=True) }}"
    container_needs_recreate: "{{ container_needs_recreate | default(false) }}"
    container_missing: "{{ container_missing | default(false) }}"
  listen: Restart openvswitch-db-server container
  notify:
    - Restart container
    - Waiting for openvswitch_db service to be ready

- name: Waiting for openvswitch_db service to be ready
  become: true
  command: "{{ kolla_container_engine }} exec openvswitch_db ovs-vsctl --no-wait show"
  register: check_result
  until: check_result is success
  changed_when: False
  retries: 30
  delay: 2

- name: Prepare restart context for openvswitch-vswitchd
  vars:
    service_name: "openvswitch-vswitchd"
    service_def: "{{ openvswitch_services[service_name] }}"
    _unit_name: >-
      {{ 'container-' if kolla_container_engine == 'podman' else 'kolla-' }}{{ service_def.container_name }}{{ '' if kolla_container_engine == 'podman' else '-container' }}.service
  set_fact:
    container_name: "{{ service_def.container_name }}"
    unit_name: "{{ _unit_name }}"
    service: "{{ service_def | combine({'unit_file_exists': True}, recursive=True) }}"
    container_needs_recreate: "{{ container_needs_recreate | default(false) }}"
    container_missing: "{{ container_missing | default(false) }}"
  listen: Restart openvswitch-vswitchd container
  notify:
    - Restart container
