---
- name: Queue restart context for openvswitch-db-server
  vars:
    service_name: "openvswitch-db-server"
    service_def: "{{ openvswitch_services[service_name] }}"
    _unit_name: >-
      {{ 'container-' if kolla_container_engine == 'podman' else 'kolla-' }}{{ service_def.container_name }}{{ '' if kolla_container_engine == 'podman' else '-container' }}.service
    _needs_recreate: "{{ service_check_compare_results[service_name] | default(false) }}"
  set_fact:
    service_check_pending_actions: "{{ (
        service_check_pending_actions | default([])
      )
      | rejectattr('container_name', 'equalto', service_def.container_name)
      | list
      + [ {
        'container_name': service_def.container_name,
        'unit_name': _unit_name,
        'service': service_def,
        'container_inspect': {},
        'container_missing': false,
        'container_needs_recreate': _needs_recreate | bool,
        'unit_enabled': false,
        'needs_start': true
      } ] }}"
  listen: Restart openvswitch-db-server container
  notify:
    - Process service-check actions
    - Waiting for openvswitch_db service to be ready

- name: Waiting for openvswitch_db service to be ready
  become: true
  command: "{{ kolla_container_engine }} exec openvswitch_db ovs-vsctl --no-wait show"
  register: check_result
  until: check_result is success
  changed_when: False
  retries: 30
  delay: 2

- name: Queue restart context for openvswitch-vswitchd
  vars:
    service_name: "openvswitch-vswitchd"
    service_def: "{{ openvswitch_services[service_name] }}"
    _unit_name: >-
      {{ 'container-' if kolla_container_engine == 'podman' else 'kolla-' }}{{ service_def.container_name }}{{ '' if kolla_container_engine == 'podman' else '-container' }}.service
    _needs_recreate: "{{ service_check_compare_results[service_name] | default(false) }}"
  set_fact:
    service_check_pending_actions: "{{ (
        service_check_pending_actions | default([])
      )
      | rejectattr('container_name', 'equalto', service_def.container_name)
      | list
      + [ {
        'container_name': service_def.container_name,
        'unit_name': _unit_name,
        'service': service_def,
        'container_inspect': {},
        'container_missing': false,
        'container_needs_recreate': _needs_recreate | bool,
        'unit_enabled': false,
        'needs_start': true
      } ] }}"
  listen: Restart openvswitch-vswitchd container
  notify:
    - Process service-check actions
