---
# Manage named volumes prior to recreation
- name: Determine named volume changes
  set_fact:
    _existing_named_vols: >-
      {{ (container_inspect.Mounts | default([]))
           | selectattr('Name', 'defined')
           | map(attribute='Name') | list }}
    _desired_named_vols: >-
      {{ service.volumes | default([]) | select('match', '^[^/:]+$') | list }}
    _vols_to_remove: "{{ _existing_named_vols | difference(_desired_named_vols) }}"
    _vols_to_create: "{{ _desired_named_vols | difference(_existing_named_vols) }}"
  when: container_needs_recreate | bool

- name: Remove obsolete named volumes
  become: true
  command: "{{ kolla_container_engine }} volume rm {{ item }}"
  loop: "{{ _vols_to_remove }}"
  when:
    - container_needs_recreate | bool
    - _vols_to_remove | length > 0

- name: Create new named volumes
  become: true
  command: "{{ kolla_container_engine }} volume create {{ item }}"
  loop: "{{ _vols_to_create }}"
  when:
    - container_needs_recreate | bool
    - _vols_to_create | length > 0

- name: Recreate container
  become: true
  vars:
    _service_check_common_options: >-
      {{ docker_common_options if kolla_container_engine != 'podman'
         else (docker_common_options | dict2items
               | rejectattr('key', 'in', ['restart_policy', 'restart_retries'])
               | list | items2dict) }}
  kolla_container:
    action: recreate_container
    common_options: "{{ _service_check_common_options }}"
    name: "{{ container_name }}"
    image: "{{ container_spec.image | default(omit) }}"
    volumes: "{{ service.volumes | default(omit) }}"
    dimensions: "{{ service.dimensions | default(omit) }}"
    tmpfs: "{{ service.tmpfs | default(omit) }}"
    volumes_from: "{{ service.volumes_from | default(omit) }}"
    privileged: "{{ service.privileged | default(omit) }}"
    cap_add: "{{ service.cap_add | default(omit) }}"
    environment: "{{ service.environment | default(omit) }}"
    healthcheck: "{{ service.healthcheck | default(omit) }}"
    ipc_mode: "{{ service.ipc_mode | default(omit) }}"
    pid_mode: "{{ service.pid_mode | default(omit) }}"
    security_opt: "{{ service.security_opt | default(omit) }}"
    labels: "{{ service.labels | default(omit) }}"
    command: "{{ service.command | default(omit) }}"
    cgroupns_mode: "{{ service.cgroupns_mode | default(omit) }}"

